.btn-section{
    width: 100%;
    height: 84px;
    margin: 0;
    background-color: var(--background-tertiary);
}
.btn-container{  
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 18px;
    width: 218px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--content-brand);
    color: #050505;

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.cancel-btn{
  margin-left: 166px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: var(--content-tertiary)
}
@media screen and (min-width: 1024px) {
    .btn-section{
        margin-top: 259px;
        height: 100%;
    }
}