:root {
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-brand: #9282fa;
  --background-highlights: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;

  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--content-primary);
}
body {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--background-primary);
}
.logo {
  width: 20px;
  height: 20px;
}
.name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 12px 20px;

  border-radius: 0px 0 20px 0;
  background-color: #2e2c30;
  width: 153px;
  height: 48px;
}
.name-tittle {
  width: 89px;
  height: 24px;
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  color: var(--content-brand);
}
.label-large {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.label-medium {
  width: 190px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.paragraph-medium {
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: var(--content-secondary);
}
section {
  margin-left: 20px;
}

.tittle {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.tittle-description {
  margin-top: 21px;
}
.tittle-description p {
  margin-top: 4px;
}
.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
.input-container {
  margin: 12px 0 32px;
  padding: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  overflow: hidden;
  gap: 7px;
  border-radius: 8px;
  border: 1px solid var(--border-primary);
  width: 183px;
  height: 48px;
  
}

.input {
  color: var(--content-secondary);
  width: 130px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: 0px solid var(--border-primary);
  background-color: var(--background-primary);
}
.input:focus{
  outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: url('../assets/Arrow.svg') no-repeat center;
  position: relative;
  width: 20px;
  top: 2px;
  height: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .tittle-container{
    width: 711px;
    margin-left: auto;
    margin-right: auto;
  }
}
