.schedules-cards {
  margin: 0 auto 12px;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--background-tertiary);
}
.schedule-tittles {
  height: 24px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.period-name {
  color: var(--content-primary);
  width: 203px;
}
.tittle-hour {
  color: var(--content-secondary);
}
.schedule-list{
  list-style-type: none;
}
.schedule-details{
  margin-top: 32px;
}
.schedule{
  width: 100%;
  margin-top: 12px;
  border-top: 2px solid var(--border-divisor);
}
.hour-scheduled{
  margin-top:32px;
  color: var(--content-primary);
}

@media screen and (min-width: 1024px) {
  .schedules-cards{
    width: 711px;
  } 
  .schedule-tittles{
    width: 711px;
  }
  .period-name{
    width: 564px;
  }
  .schedule-details{
    margin: 20px;
    gap: 16px;
    display: flex;
    flex-direction: row;
  }
  .hour-scheduled{
    margin: 0;
  }
  .schedule{
    height: 100%;
  }
}